{% extends "layouts/bulletins_base.html" %}


{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load crispy_forms_tags %}
{% endblock stylesheets %}

{% block content %}
<head>
    <title>Create Bulletin</title>
</head>
<body>
    <h1>Create Bulletin</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row mb-5">
        <div class="col-sm-5">
        {{ form|crispy }}
    </div>
    </div>
    <div class="row mb-5">
    <div class="col-sm-5">
        <button type="submit" class="btn btn-success" >Create</button>
    </div>
</div>
    </form>
</body>

{% endblock content %}