{% extends "layouts/bulletins_base.html" %}


{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}


<!-- partial:index.partial.html -->
<!-- a simple div with some links -->


<!-- another version - flat style with animated hover effect -->
<div class="container-fluid">
    <div class="mb-3 mb-lg-0">
        <h1 class="h4">Add New Trip</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="card border-0 shadow components-section">

 

</div>
</div>



{% block javascripts %}
<!-- Prefixfree -->
<script src="http://thecodeplayer.com/uploads/js/prefixfree-1.0.7.js" type="text/javascript" type="text/javascript"></script>
<!-- partial -->
  <script  src="./script.js"></script>
{% endblock javascripts %}

{% endblock content %}
