{% extends "layouts/assignment_base.html" %}


{% block title %} Dashboard {% endblock %}


{% block stylesheets %}
{% load crispy_forms_tags %}
{% endblock stylesheets %}

{% block content %}
<ul>
    {% for video in videos %}
        <li>
            {{ video.title }} - {{ video.description }}<br>
            Uploaded at: {{ video.upload_time }}<br>
            Status: {{ video.upload_status }}<br>
            {% if video.upload_status == 'Uploaded successfully!' %}
                FTP Existence: {% if video.ftp_exists %}Exists{% else %}Doesn't Exist{% endif %}<br>
            {% endif %}
        </li>
    {% empty %}
        <li>No videos available.</li>
    {% endfor %}
    </ul>
    
{% endblock %}