{% extends "layouts/assignment_base.html" %}


{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load crispy_forms_tags %}
{% endblock stylesheets %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row mb-5">
        <div class="col-sm-5">
        {{ form|crispy }}

    </div>
    </div>
    <div class="row mb-5">
        <p>{{ video.upload_status }}</p> <!-- Add this line to display the upload status -->
    <div class="col-sm-5">
        <button type="submit" class="btn btn-success" >Upload</button>
    </div>
</div>

</form>


{% endblock %}