<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Trips List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        @font-face {font-family: RTLFont; src: url('C:\\Users\\BigBoy\\Desktop\\MyProjects\\ToysSite\\static\\font\\Amiri-Italic.ttf')}
    </style>
</head>
<body>
    <h1>{{location}}</h1>
    <table>
        <thead>
            <tr>
                <th >Assigned to</th>
                <th >Target Date</th>
                <th >Task Title</th>
                <th >Category</th>
                <th >Description</th>
                <th >Feedback</th>

            </tr>
        </thead>
        <tbody>
            {% for task in agenda %}
            <tr>
                <td> {% for employee in task.assigned_to.all %}{{ employee.fullname }}, {% endfor %}</td>
                <td>{{ task.target_date }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.category }}</td>
                <td> {{ task.reviews }}</td>
                <td> {{ task.remarks }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No data found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
