{% extends "layouts/task_base.html" %}

{% block title %} Submitted Tasks {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock stylesheets %}

{% block content %}
{% load humanize %}
{% load auth_extras %} 
{% load static %}

{% if request.user|has_group:"assignment_add" %} 
<div class="container-fluid">
    <form method="GET" id="filterForm">
        {% csrf_token %}
        <div class="row mb-2">
            <div class="col-sm-3" hidden>
                <label for="department">Department:</label>
                <select name="department" class="form-select" id="departmentSelect" disabled>
                    <option value="">-- Select Department --</option>
                    <option value="{{ department.id }}" selected>{{ department }}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="location">Select Location:</label>
                <select name="location" class="form-select" id="locationSelect">
                    <option value="">-- Select Location --</option>
                    {% for location in locations %}
                        <option value="{{ location }}">{{ location }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3" id="UserSection" style="display: none;">
                <label for="UserSelect">User:</label><br>
                <select id="UserSelect" class="form-select"></select>
            </div>
            <div class="col-sm-3">
                <br>
                <a href="{% url 'task:list' %}" class="btn btn-gray-300">Reset</a>
                <button type="submit" class="btn btn-success">Search</button>
            </div>
        </div>
    </form>
</div>
{% endif %}
  
<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <div class="container-fluid">
        <div class="row mb-5">
            <table class="table table-hover" id="taskTable">
                <!-- ... Table headers ... -->
                <thead>
                    <tr>

                        <th class="border-gray-200">Title <i class="fa fa-sort"></i></th>
                        {% if request.user|has_group:"assignment_add" %} 
                        <th class="border-gray-200 ">Assigned To <i class="fa fa-sort"></i></th>
                        <th class="border-gray-200">Category <i class="fa fa-sort"></i></th>
                        {% endif %}
                        <th class="border-gray-200">Created Date <i class="fa fa-sort"></i></th>
                        <th class="border-gray-200">Target Date <i class="fa fa-sort"></i></th>
                        <th class="border-gray-200">Status <i class="fa fa-sort"></i></th>
                        <th class="border-gray-200">Details <i class="fa fa-sort"></i></th>
      
      
                    </tr>
                </thead>
                <tbody>
                    <!-- ... Table body ... -->
                </tbody>
            </table>
            <!-- ... Pagination ... -->
        </div>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'assets/js/table_sort.js' %}" ></script>
<script src="{% static 'assets/js/list_select.js' %}"></script>
<script>


// Function to fetch tasks data via AJAX
function fetchTasksData(successCallback) {
    $.ajax({
        url: '{% url "task:list" %}',  // Replace with the actual URL of your view
        type: 'GET',
        dataType: 'json',
        success: successCallback,
        error: function(error) {
            console.log('Error fetching task data:', error);
        }
    });

}
// Function to filter and populate tasks
// Function to filter and populate tasks based on the selected user
function filterAndPopulateTasks(data) {
    // Process data and dynamically populate the table using jQuery
    var tableBody = $('#taskTable tbody');
    tableBody.empty();

    // Filter data based on the selected user
    // var userFilter = $('#UserSelect').val();
    var userFilter = $('#UserSelect option:selected').text();
    var filteredData = data.task_data.filter(function(task) {
        // Add additional conditions based on your form fields
        return (!userFilter || task.assigned_to.includes(userFilter));
    });

    // Update the table with the filtered data
    $.each(filteredData, function(index, task) {
        var row = $('<tr>');
        row.append('<td>' + task.title + '</td>');

        {% if request.user|has_group:"assignment_add" %} 
            row.append('<td>' + task.assigned_to.join(', ') + '</td>');
            row.append('<td>' + task.category + '</td>');
        {% endif %}

        row.append('<td>' + task.created_date + '</td>');
        row.append('<td>' + task.target_date + '</td>');
        row.append('<td>' + task.status + '</td>');

        // Add the dropdown column
        var dropdownCell = $('<td>');
        var dropdownButton = $('<button>', {
            'type': 'button',
            'class': 'btn btn-secondary dropdown-toggle dropdown-toggle-split',
            'id': 'dropdownMenuReference_' + index, // Unique ID for each dropdown
            'data-bs-toggle': 'dropdown',
            'aria-expanded': 'false',
            'data-bs-reference': 'parent'
        });

        var icon = $('<svg>', {
            'class': 'icon icon-xs',
            'fill': 'currentColor',
            'viewBox': '0 0 20 20',
            'xmlns': 'http://www.w3.org/2000/svg'
        }).append($('<path>', {
            'fill-rule': 'evenodd',
            'd': 'M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z',
            'clip-rule': 'evenodd'
        }));

        var span = $('<span>', {
            'class': '',
            'text': 'Action'
        });

        dropdownButton.append(icon);
        dropdownButton.append(span);

        var dropdownMenu = $('<div>', {
            'class': 'dropdown-menu py-0'
        });

        // Add actions to the dropdown menu
        {% if request.user|has_group:"assignment" %}
            // Add specific actions for the assignment group if needed
        {% endif %}

        var viewAction = $('<a>', {
            'class': 'dropdown-item',
            'href': '{% url "task:edit" 0 %}'.replace('0', task.id),  // Replace with the actual URL for view
            'text': 'View'
        });

        dropdownMenu.append(viewAction);

        {% if request.user|has_group:"assignment_add" %}
            var removeAction = $('<a>', {
                'class': 'dropdown-item text-danger rounded-bottom',
                'href': '{% url "task:delete" 0 %}'.replace('0', task.id),  // Replace with the actual URL for delete
                'text': 'Remove'
            });

            dropdownMenu.append(removeAction);
        {% endif %}

        dropdownCell.append(dropdownButton);
        dropdownCell.append(dropdownMenu);

        row.append(dropdownCell);

        tableBody.append(row);
    });
}


// Function to handle form submission and form field changes
function handleFormChanges() {
    $('#filterForm').on('submit change', function(event) {
        event.preventDefault();
        fetchTasksData(filterAndPopulateTasks);
    });
}

// Initial fetch and populate on document ready
$(document).ready(function() {
    fetchTasksData(filterAndPopulateTasks);
    handleFormChanges();
});


</script>




{% endblock javascripts %}
