{% extends "layouts/task_base.html" %}

{% block title %} New Task {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load crispy_forms_tags %}
{% endblock stylesheets %}

{% block content %}
{% load auth_extras %}   

<div class="container-fluid">
    <div class="mb-3 mb-lg-0">
        <h1 class="h4">Create Task</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="card border-0 shadow components-section">
        <div class="card-body">
            <form method="post">
            {% csrf_token %}

    <div class="row mb-5">
        <div class="col-sm-6">
            {{form.title|as_crispy_field}}
        </div>

        <div class="col-sm-3">
            {{form.target_date|as_crispy_field}}
        </div>
    </div>
    <div class="row mb-5">

        <div class="col-sm-3">
            <label for="department">Department:</label>
            <select name="department" class="form-select" id="departmentSelect" disabled >
                <option value="">-- Select Department --</option>
                
                    <option value="{{ department.id }}" selected >{{ department }} </option>
                
            </select>
        </div>
        <div class="col-sm-3">
            {{form.category|as_crispy_field}}
        </div>
        <div class="col-sm-3">
            <label for="location">Select Location:</label>
            <select name="location" class="form-select" id="locationSelect" required {% if request.user|has_group:"assignment_assign" %} disabled{% endif %}>
                <option value="">-- Select Location --</option>
                <!-- Add options for locations -->
                    {% if selected_location %}
                    <option value="{{selected_location}}" selected>{{selected_location}}</option>
                    {% endif %}
                    {%  for location in locations %}
                    <option value="{{location}}" >{{location}}</option>
                    {% endfor %}
            </select>
        </div>
        <div class="col-sm-3" id="assignedToSection" style="display: none;">

                <p>Assign To:</p>
                <div id="assignedToCheckbox">
                    <!-- Assigned to checkboxes will be added here -->
                </div>
        </div>
        <div class="col-sm-3">
            {{form.status|as_crispy_field}}
        </div>
    </div>
    <div class="row mb-5">

        <div class="col-sm-6">
            {{form.reviews|as_crispy_field}}
        </div>
        <div class="col-sm-6">
            {{form.remarks|as_crispy_field}}
        </div>
        

    </div>
    <div class="row mb-10" >
        <div class="col-md-12 text-center">
            <a href="{% if 'list' in request.path %} {% url 'task:list' %} {% else %} {% url 'task:main' %} {% endif %} " class="btn btn-gray-300">Cancel</a>
            <input type="submit" class="btn btn-success"  >
        </div>
    </div>
    </form>
    </div>
    </div> 
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    document.getElementById('departmentSelect').addEventListener('change', updateAssignedTo);
    document.getElementById('locationSelect').addEventListener('change', updateAssignedTo);

    function updateAssignedTo() {
        const department = document.getElementById('departmentSelect').value;
        const location = document.getElementById('locationSelect').value; // Add this line

        if (department  && location) { // Modify this condition to include location
            fetch(`get_employees/?department=${department}&location=${location}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Received data:', data); // Log the received data

                    const assignedToCheckbox = document.getElementById('assignedToCheckbox');
                    assignedToCheckbox.innerHTML = ''; // Clear existing checkboxes

                    if (data && data.length > 0) {
                            data.forEach(employee => {
                                const checkboxDiv = document.createElement('div'); // Create a div for each checkbox

                                const checkbox = document.createElement('input');
                                checkbox.type = 'checkbox';
                                checkbox.name = 'assigned_to';
                                checkbox.value = employee.id;
                                checkbox.classList.add('form-check-input');
                                checkboxDiv.required = true;
                                 // Add class to the checkbox
                                
                                const label = document.createElement('label');
                                label.appendChild(checkbox);
                                label.appendChild(document.createTextNode(' '+ employee.user__first_name + ' ' + employee.user__last_name));
                                
                                checkboxDiv.appendChild(label); // Append label to the div
                                assignedToCheckbox.appendChild(checkboxDiv); // Append div to the main container
                            });
                            document.getElementById('assignedToSection').style.display = 'block';
                        }
 else {
                        console.log('No data received or empty data.'); // Log if no or empty data received
                        document.getElementById('assignedToSection').style.display = 'none';
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        } else {
            document.getElementById('assignedToSection').style.display = 'none';
        }
    }
</script>

{% endblock javascripts %}