{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="card border-0 shadow components-section">
        {{set_details.report_id}}
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-3 mb-3">
                    <!-- Form -->
                    <div class="mb-4">
                        <label for="fullname">Name</label>
                        <input type="text" class="form-control"  disabled value="{{set_details.employee.fullname}}" name="fullname">
                    </div>
                </div>
                <div class="col-sm-3 mb-3">
                    <div class="mb-4">
                        <label for="job-title">Job Title</label>
                        <input type="text" class="form-control" disabled value="{{set_details.employee.job_title}}" name="job_title">
                    </div>
                </div>
                <div class="col-sm-3 mb-3">
                    <div class="mb-4">
                        <label for="department">Department</label>
                        <input type="text" class="form-control" disabled value="{{set_details.employee.department}}" name="department">
                    </div>
                </div>
            </div>
            <!-- End of Form -->
            <!-- Form -->
            <div class="row mb-4">
                <div class="col-sm-3 mb-3">
                    <div class="mb-4">
                        <label class="my-1 me-2" for="work-desc">Work type</label>
                        <input type="text" class="form-control" disabled value="{{set_details.work_type}}" name="work_type">
                    </div>
                </div>
                <div class="col-sm-3 mb-3">
                    <div class="mb-3">
                        <label>Issued Date</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            <input type="text" class="form-control" disabled value="{{set_details.date}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-6 mb-6">
                    <div class="my-4">
                        <label for="textarea">Task info</label>
                        <textarea class="form-control"  rows="10" disabled>{{set_details.task}}</textarea>
                        {% if set_details.status == 'Pending' %}
                        <form method="get">
                        <div class="float-end">
                            <input type="submit" class="btn btn-success" value="approve" name="approve">
                        </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <!-- End of Form -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}